/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


a.phone.retailer > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
.maxtwe {
	max-width: 120px!important;
}
#responsive-menu > .responsive-menu-item-has-children > .responsive-menu-submenu > .menu-item > .responsive-menu-submenu > li > a{
	padding-left: 15%!important;
    padding-right: 15px!important;
}
.ui-datepicker-title select{
    color: #000!important;
}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
    display: block!important;
    text-align: center!important;
}
.fl-page-header-primary img.fl-logo-img {
    max-width: 230px;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, 
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, 
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
ul.social-icons li a:hover i {
    color: #CC7223 !important; 
}
.uabb-button{
    background: #CC7223 !important;
    border: 1px solid #CC7223 !important;
}
.uabb-button:hover{
    background: #945217 !important;
    border: 1px solid #945217 !important;
}
.product-swatch .button-wrapper-default a:hover{
    background: #CC7223;
    border: 2px solid #CC7223;
} 
.fl-page-nav ul.sub-menu{
    border-top: 3px solid #CC7223 ;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img{
    max-height: 65px!important;
}


a.button, a.fl-button, 
a.fl-button:visited, 
.fl-builder-content a.fl-button, 
.fl-builder-content a.fl-button:visited {
    border-radius: 0px;
    /* padding: 7px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none; */
}
.gform_wrapper .gfield_required {
    color: #790000 !important;
}

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
    background-position: center!important;
    cursor: pointer;
}

.storename{
    padding: 0px;
    list-style: none;
}

.fl-node-5cbdc4497c6a0 .storename span{
  color: #fff !important;
}

.storename p,
.storename span{
    margin: 0px !important;
    color: #000 !important;
}

ul.store-opening-hrs {
    list-style: none;
    padding: 0px;
}

.slide.slick-slide {
    text-align: center;
}

.footer-col .storename p,
.footer-col .storename span{
    margin: 0px !important;
    color: #fff !important;
}

.fl-node-5cd3edbf6b3ff .direction a{
  width: 100%;
  text-align: center;
}

.fl-node-5cd3edbf6b3ff .direction a span{
  color: #fff !important;
}

.active-gallery-modal .product-box a.fl-button{
    background: #000;
    border: 1px solid #000;
}

.active-gallery-modal .product-box a.fl-button:hover{
    background: #cc252a;
    border: 1px solid #981c1f;
}

.store-opening-hrs li {
    padding: 10px;
}

#gform_submit_button_3{
  border-radius: 0px;
}

/*------------------TOP BAR STYLES ------------------*/

ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}


ul#topbar li a:hover {
  color: #111111;
}

.gform_wrapper .ginput_container_time input, .gform_wrapper .ginput_container_time select{
    padding: 5px!important;
}
.ginput_container_time select{
    min-width: 60px!important;
    width: 60px!important;
}

.ginput_container_checkbox ul li a{
    color: #000!important;
}

.gform_wrapper .gfield_time_hour i{
    margin-top:-2px!important;
}

/* .fl-module-advanced-tabs .ua-icon{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "FontAwesome";
 }
 .fl-module-advanced-tabs .ua-icon-chevron-down2:before{
    content: "\f078";
 } */

/*------------------END TOP BAR STYLES ------------------*/


@media(max-width:1080px){
    .gform_wrapper #field_17_2, .gform_wrapper #field_17_7{
        padding-right: 0px!important;
    }
    .gform_wrapper li input{
        width: 100%!important;
        display: block;
    } 
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 4px;
        font-size: 13px;
    }
    .fl-page-nav-right .fl-page-header-row .fl-page-nav-col{
        padding-left: 0px;
    }
}
div.fl-module-heading h1.fl-heading{
    line-height: 1.2 !important;
}

@media (max-width:768px){
    /* .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{
        width: auto!important;
    } */
    .facet-inner .facetwp-checkbox{
        background-position: 0px 3px;
    }
   /* #responsive-menu-container #responsive-menu ul.responsive-menu-submenu-depth-1 a {
        padding-left: 10% !important;
    }*/
    .fl-page-bar .text-left{
        width: 35%;
    }
    .wi-100{
        max-width: 100% !important;
    }
    .w-100 .fl-photo-content.fl-photo-img-jpg,
    .w-100 img{
        width: 100% !important; 
    }
    .uabb-module-content.uabb-photo.uabb-photo-align-center.uabb-photo-mob-align-center .uabb-photo-content img{
        width: 500px !important;
    }
    #responsive-menu-additional-content .phone span:before{
        content: "\f1f8";
        font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
    font-size: 16px;
    color: #fff;
    vertical-align: text-bottom;
    }
    #responsive-menu-container #responsive-menu-search-box, 
    #responsive-menu-container #responsive-menu-additional-content, #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
    .fl-page-bar .text-right{
        width: 65%;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0px !important;
    }
    .img-width-100 img{
        width: 92% !important; 
    }
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 10px;
    }
    .fl-page-nav-search{
        display: block;
    }
    
 }
 @media (max-width:767px){
	 .search-row .product-grid{
	padding: 0px 20px!important;
}
    .fl-page-nav-search{
        display: none;
    }
    .fl-page-header-logo{
        text-align: left !important;
    }
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}

    .fl-page-bar .text-left{
        width: 100%;
    }
    .fl-page-bar .text-right{
        display: none;
    }
    

    #responsive-menu-additional-content a span{
        color: #fff;
    }
    .fl-content-slider-navigation a.disabled, .bx-controls a.disabled{
        color: #000!important;
        fill: #000!important;
    }

 }

 @media(max-width:500px){
     .fl-mosaicflow-col,
     .uabb-photo-gallery-item{
        width: 100% !important;
     }

 }
 @media(max-width:450px){
    .footermenu .menu-item a{
        font-size: 14px;
    }
 }

 
 @media (max-width:366px){
    .fl-page-header-primary img.fl-logo-img{
        max-width: 195px !important;
    }
    button#responsive-menu-button{
        top: 55px !important;
    }
 }

 @media print {
    @page {
        size:'A4';
        margin: 0mm;
        text-align: center;
    }

    header, footer, .fl-page-bar, #button-print, .fl-module-rich-text{
        display: none!important;
    }
    
}